div{
		margin:0px;
		margin-left:0px;
}

hr{
		margin:0px;
		color:#aaa;
}

#toplogo{
		margin-left:20px;
}

#midpic{
		margin-right:20px;
		margin-left:20px;
		border:0px solid #333;
}

.topBar{
	height:40px;
	width:960px;
	background-image:url(../images/topbg.jpg);
}

.topButtons{
	border:0px;
	background:transparent;
	color:#FFF;
	font-size:18px;
	font-family:'풕턼환쥌';
	height:40px;
	width:100px;
	margin-left:50px;	
}

#downloadButton{
	border:2px solid #aaa;
	background-color:#ddd;
	color:#333;
	font-size:18px;
	font-family:'풕턼환쥌';
	height:40px;
	width:150px;
	margin-left:90px;
}

.infoLeft{
	color:#444;
	font-size:14px;
	font-family:'풕턼환쥌';
	margin-top:20px;
}

.infoRight{
	color:#444;
	font-size:14px;
	font-family:'풕턼환쥌';
}